<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
<!--按照类并发执行-->
    <test name="UITest" parallel="classes" thread-count="4">
        <packages>
            <package name="testcase.*" />
        </packages>
<!--     排除执行指定-->
        <classes>
            <class name="testcase.TestNgDemo">
                <methods>
                    <exclude name="test03"></exclude>
                    <include name=""></include>
                </methods>
            </class>
            <class name="testcase.TestGird"></class>
            <class name="testcase.Test1"></class>
        </classes>
    </test>


</suite>